body {
    background-color: rgb(242, 242, 242);
}

/*header styling*/
.ui.attached.segment {
    border: none;
}
h2.ui.header {
    color: rgb(242, 242, 242);
    font-family: 'Marcellus', serif;
    font-size: 3em;
}

/*Navbar styling*/
.ui.attached.menu:not(.tabular) {
    background-color: rgb(188, 25, 25);
    border: none;
}
.ui.menu .item {
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    font-weight: 700;
    color: black;
}
.ui.menu a.item:hover {
    background-color: rgb(27,28,29);
    color: rgb(242, 242, 242);
}


#contents {
    background-color: rgb(219, 219, 219);
}

h1.ui.header {
    font-family: 'Marcellus', serif;
}
.ui.red.button, .ui.red.buttons .button {
    background-color: rgb(188, 25, 25);
}
#rollerForm {
    padding-top: 2em;
}

.textEntry {
    /*icon dislike using important tags, but doing thing properly would result in some really sloppy syntax,
    so ce la vie.*/
    background-color: rgb(242, 242, 242) !important;
}
.textEntry::-webkit-input-placeholder {
    color: rgb(90, 90, 90) !important;
}



/* footer Stuff */
.content {
    min-height: calc(100vh - 200px);
}

.footer {
    height: 150px;
}